# node_modules
node_modules/

# build output
dist/
build/

# logs
*.log

# env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# 忽略 Spring Boot 配置文件
exam-v2-backend/src/main/resources/application.yml

API.txt