# node_modules
node_modules/

# build output
dist/
build/

# logs
*.log

# env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# 忽略 Spring Boot 配置文件
**/src/main/resources/application.yml
# 如果你的根目录下也有类似的配置文件，也可以直接写
application.yml